@model SudentRegistrationSystem.Models.Project

@{
    ViewData["Test"] = "Test";
}
@*@using (Html.BeginForm("saveProject","Project"))
    {*@
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Project</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    @*<div class="form-group">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div id="projectDetails">
        <div class="form-group">
            @Html.LabelFor(model => model.PrjctName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrjctName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrjctName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.StudId, "StudId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StudId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StudId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.TeamSize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamSize, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeamSize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*@Html.ActionLink("Save Projcet","saveProject","Project",Model,new { id="saveProject"})*@
                <button id="saveProject" type="submit">Save Project</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#saveProject').click(saveProjects);
    });

    function saveProjects() {
        alert("In SaveProject");
        var model = {
            PrjctName: $("#PrjctName").val(),
            Description: $("#Description").val(),
            TeamSize: $("#TeamSize").val()
        };
        $.ajax(
            {
                type: "Post",
                url: "../Project/saveProject",
                data: model,
                success: function (result) {
                    alert("Success");
                    data = result;
                    markup = '<tr><td>' + data['PrjctName'] + '</td><td>' + data['Description'] + '</td><td>' + data['TeamSize'] + '</td></tr>';
                    if ($("#projectDetailsTable tbody").length == 0) {
                        tblMarkup = '<div><h4>Project List</h4><table><thead><tr><th>Project Name</th><th>Description</th><th>Team Size</th></tr></thead><tbody></tbody></table></div>';
                        $("#projectDetailsTable").append(tblMarkup);
                    }
                    
                    $("#projectDetailsTable tbody").append(markup);
                    $("#Display").empty();
                },
                error: function () {
                    alert("Error");
                }
            });
        return false;
    }
</script>


