@using SudentRegistrationSystem.Models
@model SudentRegistrationSystem.Models.Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #cdcdcd;
    }

        table th, table td {
            padding: 5px;
            text-align: left;
        }
</style>
@{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Student</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model=>model.ID)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model=>model.Projects)
    <div id="projectDetailsTable">
    @if (Model!=null && Model.Projects.Count != 0 )
    {
        <div>
            <h4>Project List</h4>
            <table>
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Team Size</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (Project obj in Model.Projects)
                    {
                    <tr id="@obj.ID">
                        <td>@obj.PrjctName</td>
                        <td>@obj.Description</td>
                        <td>@obj.TeamSize</td>
                        <td class="editProject">Edit</td>
                        <td class="deleteProject" >Delete</td>
                    </tr>
                    }
                </tbody>

            </table>


        </div>
        
        
    }
    </div>
    <div class="form-group">
        <button id="addProject" type="button">Add Projects</button>
    </div>
    <div id="Display">

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="saveStudent" type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $(document).on('click','td.deleteProject',function () {
        var elem = $(this).parent();
        elem.remove();
        $('#Display').empty();
    });

    $(document).on('click','td.editProject',function () {
        var htmlElement = $(this).parent()
        
        var d = {
            PrjctName: htmlElement.find("td").eq(0).html(),
            Description: htmlElement.find("td").eq(1).html(),
            TeamSize: htmlElement.find("td").eq(2).html(),
            Student: {
                Name: $('#Name').val()
            }
        };

        $.post('@Url.Action("Index", "Project")', d, function (response) {
            $("#Display").html(response);
        });
    });

   

$("#addProject").click(function () {
    $.get('@Url.Action("Index", "Project")', {}, function (response) {
        $("#Display").html(response);
    });

});
    $("#saveStudent").click(function () {
        alert("in saveProject");
        var projects = new Array();
        $("#projectDetailsTable tbody tr").each(function () {
            var row = $(this);
            var project = {};
            project.Id = 0;
            project.PrjctName = row.find("td").eq(0).html();
            project.TeamSize = row.find("td").eq(2).html();
            project.Description = row.find("td").eq(1).html();
            projects.push(project);
           
        });
        console.log(projects);
        
        var student = {};
        student.projects = projects;
        student.Name = $("#Name").val();
        student.Id = $("#ID").val();

        $.ajax({
            method: 'Post',
            url: 'Create',
            data: student,
            success: function (result) {
                alert("success");
                alert(result["Name"]);
                var link = '@Url.Action("Edit",new { Name = "replace" })';
                link = link.replace("replace", result["Name"]);

                window.location.href = link;
            },
            error: function () {
                        alert("error");
                    }

                });
        
    });
   

</script>
}


